.li-pagination {
  display: contents;
  justify-content: center;
}

.button:hover {
  background-color: #e3f2fd;
}

li {
  list-style-type: none;
}

button{
  text-decoration: none;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  border-color: cadetblue;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
}
