div {
  text-align: center;
}

.background {
  background-color: #f5f5f5;
  height: 450px;
}

.img-app {
  position: relative;
  top: 100px;
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
}

.body__title {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 1000;
  letter-spacing: 0.0125em;
  text-decoration: inherit;
  text-transform: inherit;
  position: relative;
  top: 90px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}

.body__subtitle2 {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.0125em;
  text-decoration: none;
  color: inherit;
}

.body__subtitle:hover {
  color: blue;
}

.body__followers {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 800;
  letter-spacing: 0.0125em;
  text-decoration: none;
  justify-content: center;
  display: flex;
  padding: 0;
  list-style-position: inside;
  line-height: 2em;
}
